.navbar{
  display: flex;
  
  font-weight: bold;
  font-size: auto;
}

.navbar-item {
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid;
  border-color: #3c3939;
  padding-bottom: 1px;
}

.navbar-item:hover  {
  border-color: white;
}

.name-box {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20pt;
}

.about-me-box {
  margin-left: 50px;
  width: 500px;
}

.subtitle-box, .projects-subtitle {
  width: 600px;
  font-size: 25pt;
  font-weight: bold;

  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.projects-subtitle {
  background-color: #3c3939;
  width: 95vw;
}

.title {
  margin-left: 10px;
  margin-bottom: 10px;
  
  font-weight: bold;
  font-size: 30pt;
  padding-top: 4vh;
}

hr {
  width: 95vw;
}

.center-wrapper {
  display: flex;
  flex-wrap: wrap;

  background-color: #3c3939;

  position: absolute;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  width: 95vw;
}

.projects-box {
  background-color: orange;
}

.center-wrapper > .projects-box {
  flex: 1 1 300px;
}

.about-page {
  flex-direction: column;
}