.navbar{
  display: flex;
  
  font-weight: bold;
  font-size: auto;
}

.navbar-item {
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid;
  border-color: #3c3939;
  padding-bottom: 1px;
}

.navbar-item:hover  {
  border-color: white;
}

.name-box {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20pt;
}

.about-me-box {
  width: 500px;
}

.subtitle-box, .projects-subtitle {
  width: 600px;
  font-size: 25pt;
  font-weight: bold;

  padding-top: 50px;
  padding-bottom: 25px;
}

.projects-subtitle {
  background-color: #3c3939;
  width: 95vw;
  padding-left: 10px;
}

.title {
  margin-left: 10px;
  margin-bottom: 10px;
  
  font-weight: bold;
  font-size: 30pt;
  padding-top: 4vh;
}

hr {
  width: 95vw;
}

.center-wrapper {
  display: flex;
  flex-wrap: wrap;

  background-color: #3c3939;

  position: absolute;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  padding-left: 100px;
  padding-right: 100px;

  width: calc(95vw - 200px);
}

.projects-box {
  max-width: calc((95vw - 200px));
  background-color: #504c4c;
  margin: 10px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-size: 40pt;
  font-weight: bold;
  color: #504c4c;
}

.projects-box:hover {
  background-color: #C1E1C1;
  opacity: 0.8;
  color: white;
}

.center-wrapper > .projects-box {
  flex: 1 1 700px;
}

.about-page {
  flex-direction: column;
}

.project1-img {
  background: url('./components/miniSolarArt.png');
}

.project2-img {
  background: url('./components/pizza.png');
}

.project3-img {
  background: url('./components/spider.png');
}

.project4-img {
  background: url("./components/loophero.png")
}

.project1-img, .project2-img, .project3-img, .project4-img  {
  width: 70%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
}